#logo{
	float:left;
    margin-right: 16px; 
    height: 150px;
    width: 120px;
}
#h1{
	color: darkblue;
}
.menuItem {
    text-align: center;
    padding: 9px;
    color: white;
    background-color: orange;
    border-radius: 5px;
    margin: 2px;
    margin-top: 73px;

}
#h1{
	 margin-top: 73px;
}

.menuItem:hover{
    background-color: darkblue;

}
.slider{
    max-width:100%;
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 40px 0 60px;
}
.myslides{
    width:100%;
    height: 300px;
    position: relative;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 40px 0 60px;
}
#p1, #p2, #p3 ,#p4{
    border-style: outset;
}
#h3{
    color: darkblue;
}
#submitbtn{
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#cpy,#footer2{
    background-color: orange;
    padding: 8px 0px;
    text-align: center;
    color: white;
}
#h5h1,#h5h2,#h5h3,#h5h4{
    color: darkblue;
}
